
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("Cadastrar atendimento", "CreateAtendimento", "Atendimento") 
<br/>
@Html.ActionLink("Cadastrar tipo de animal", "CreateTipoAnimal", "TipoAnimal") 
<br/>
@Html.ActionLink("Cadastrar tipo de usuario", "CreateTipoAnimal", "TipoUsuario") 
<br/>
@Html.ActionLink("Cadastrar cliente", "CreateCliente", "Cliente") 
<br/>
@Html.ActionLink("Cadastrar veterinario", "CreateVeterinario", "Veterinario") 
<br/>


@Html.ActionLink("Consultar atendimento", "GetAtendimentos", "Atendimento" ) 
<br/>
@Html.ActionLink("Consultar tipo de animal", "GetTipoAnimals", "TipoAnimal") 
<br/>
@Html.ActionLink("Consultar tipo de usuario", "GetTipoAnimals", "TipoUsuario") 
<br/>
@Html.ActionLink("Consultar cliente", "GetClientes", "Cliente") 
<br/>
@Html.ActionLink("Consultar veterinario", "GetVeterinarios", "Veterinario") 
<br/>